<div>
  <div class="col-12 col-md-7 float-left" id="leftDiv"><!-- image -->
    <img src="assets/images/doctors/{{pictureName}}-register.jpg" alt="loading"> 
  </div>  
  <div class="col-12 col-md-5 float-right p-4" id="rightDiv"><!-- form -->
    <h3 class="text-center mb-5 mt-5">تسجيل الدخول</h3>
    <div class="text-center" id="radioBtnGroup">
      <div class="form-check form-check-inline">
        <label class="form-check-label mr-1">مستخدم</label>
        <input class="form-check-input" type="radio" name="user" value="patient" [(ngModel)]="this.pictureName">
      </div>
      <div class="form-check form-check-inline">
        <label class="form-check-label mr-1" for="inlineRadio2">طبيب</label>
        <input class="form-check-input" type="radio" name="user" value="doctor" [(ngModel)]="this.pictureName">
      </div>
    </div>
    <form #form="ngForm" name="form" (ngSubmit)="onSubmit()" class=" text-right" dir="rtl">
      <div class="form-group">
        <label>اسم المستخدم</label>
        <input type="text" class="form-control" name="userName"
        #userName="ngModel"
        [(ngModel)]="loginCredentials.userName"      
        required
        maxlength="30"
        minlength="6"
        noWhiteSpaces
        [ngClass]="{ 'is-invalid': userName.invalid && userName.dirty }" />  
        <!--cs validation --> 
        <div *ngIf="userName.invalid" class="invalid-feedback">
            <span  *ngIf="userName.errors?.required && userName.dirty">
                 *</span>
            <span  *ngIf="userName.errors?.minlength && userName.dirty">
              يجب أن لا يقل الاسم عن 6 أحرف</span>
            <span *ngIf="userName.errors?.hasWhiteSpace && userName.dirty">
                يجب أن لا يحتوى الاسم على مسافات</span> 
        </div> 
      </div>
      <div class="form-group">
        <label>كلمة المرور</label>
        <input type="password" class="form-control" name="password"
        #password="ngModel"
        [(ngModel)]="loginCredentials.password"  
        required 
        maxlength="30"
        minlength="6"
        noWhiteSpaces
        [ngClass]="{ 'is-invalid': password.invalid && password.dirty }">  
    <!--cs validation -->
        <div *ngIf="password.invalid" class="invalid-feedback">
            <span *ngIf="password.errors?.required && password.dirty">
                *</span>
            <span *ngIf="password.errors?.minlength && password.dirty">
                يجب أن لا تقل كلمة المرور عن 6 أحرف</span>
            <span *ngIf="password.errors?.hasWhiteSpace && password.dirty">
                يجب أن لا تحتوى كلمة المرور على مسافات</span>
        </div>
      </div>
      <div class="form-group">
        <a routerLink="#">نسيت كلمة المرور ؟</a>
      </div>
      <div class="text-center">
        <button type="submit" #btn="ngModel" name="btn" (click)="countClicks()" ngModel class="btn btn-success" [disabled]="form.invalid || form.submitted"
          
        >دخول</button>
      </div>
    </form>
  </div>
</div>