<nav class="navbar fixed-top navbar-expand-lg">
    <a class="navbar-brand" routerLink="/home"><img src="assets/images/common/logo.png"></a>
    <button class="navbar-toggle navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span> 
    </button>
  
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
 
      <ul class="navbar-nav" id="loginNav" [ngClass]="{'mr-auto':translate.currentLang == 'ar', 'ml-auto':translate.currentLang == 'en'}">    
        <li class="nav-item">
          <a class="nav-link" *ngIf = "!authService.isLoggedIn()" routerLink="patient/register" routerLinkActive="active">{{ "Header.Register" | translate }}</a>  
        </li>
        <li class="nav-item">
          <a class="nav-link" *ngIf = "!authService.isLoggedIn()" routerLink="doctor/register" routerLinkActive="active">{{ "Header.Join Our Doctors" | translate }}</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" *ngIf = "!authService.isLoggedIn()" routerLink="/login" routerLinkActive="active">{{ "Header.Login" | translate }}</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" *ngIf = "authService.isLoggedIn()" (click)="authService.logout()">{{ "Header.Logout" | translate }}</a>
        </li>  
      </ul>
        <ul class="navbar-nav" id="homeNav" [ngClass]="{'ml-auto':translate.currentLang == 'ar', 'mr-auto':translate.currentLang == 'en'}">    
          <li class="nav-item">
            <a class="nav-link" *ngIf="translate.currentLang == 'ar'" (click)="useLang('en')" > English</a> 
            <a class="nav-link" *ngIf="translate.currentLang == 'en'" (click)="useLang('ar')" >العربية</a>
          </li> 
          <li class="navbar-nav">
            <a class="nav-link" *ngIf = "authService.isLoggedIn()" routerLink={{authService.navigateByRole()}} routerLinkActive="active" 
            >{{ "Header.Profile" | translate }}</a>     
          </li>   
          <li class="nav-item">
            <a class="nav-link" routerLink="/home" routerLinkActive="active">{{ "Header.Home" | translate }}<span class="sr-only">(current)</span></a>
          </li>

        </ul>
    </div>
  </nav>
