<nav class="navbar fixed-top navbar-expand-lg">
    <a class="navbar-brand" routerLink="/home">Treat Me</a>
    <button class="navbar-toggle navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
  
    <div class="collapse navbar-collapse" id="navbarSupportedContent">

      <ul class="navbar-nav float-left">
        <li class="nav-item">
          <a class="nav-link" *ngIf = "!authService.isLoggedIn()" routerLink="patient/register" routerLinkActive="active">حساب جديد</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" *ngIf = "!authService.isLoggedIn()" routerLink="doctor/register" routerLinkActive="active">انضم للأطباء</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" *ngIf = "!authService.isLoggedIn()" routerLink="/login" routerLinkActive="active">تسجيل دخول</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" *ngIf = "authService.isLoggedIn()" (click)="authService.logout()">تسجيل خروج</a>
        </li>

      </ul>
      <div id="homeNavItem">
        <ul class="navbar-nav" >  
          <li class="navbar-nav">
            <a class="nav-link" *ngIf = "authService.isLoggedIn()" routerLink="~/profile" routerLinkActive="active" 
            (click)="authService.navigateByRole()">البروفايل</a> 
          </li> 
          <li class="nav-item">
            <a class="nav-link" routerLink="/home" routerLinkActive="active">الصفحة الرئيسية <span class="sr-only">(current)</span></a>
          </li>

        </ul>

      </div>

    </div>
  </nav>
