<div class="container emp-profile">
            <form method="post">
                <div class="row">
                    <div class="col-md-4">
                        <div class="profile-img">
                            <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcS52y5aInsxSm31CvHOFHWujqUx_wWTS9iM6s7BAm21oEN_RiGoog" alt=""/>
                            <div class="file btn btn-lg btn-primary">
                                Change Photo
                                <input type="file" name="file"/>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="profile-head">
                                    <h5>
                                        {{patient.user.firstName}}  {{patient.user.lastName}}
                                    </h5>
                                   
                            <ul class="nav nav-tabs" id="myTab" role="tablist">
                                <li class="nav-item">
                                    <a class="nav-link active" id="home-tab" data-toggle="tab" href="#home" role="tab" aria-controls="home" aria-selected="true">About</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" id="profile-tab" data-toggle="tab" href="#profile" role="tab" aria-controls="profile" aria-selected="false">Timeline</a>
                                </li>
                                
                            </ul>
                        </div>
                    </div>
                    <div class="col-md-2">
                        <input type="submit" class="profile-edit-btn" data-toggle="modal" data-target="#exampleModal" name="btnAddMore" value="Edit Profile"/>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-4">
                        <div class="profile-work">
                            <p>any</p>
                            <a href="">any Link</a><br/>
                            
                          
                        </div>
                    </div>
                    <div class="col-md-8">
                        <div class="tab-content profile-tab" id="myTabContent">
                            <div class="tab-pane fade show active" id="home" role="tabpanel" aria-labelledby="home-tab">
                                        <div class="row">
                                            <div class="col-md-6">
                                                <label>User Name</label>
                                            </div>
                                            <div class="col-md-6">
                                                <p>{{patient.user.userName}}</p>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-md-6">
                                                <label>Name</label>
                                            </div>
                                            <div class="col-md-6">
                                                <p> {{patient.user.firstName}}  {{patient.user.lastName}}</p>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-md-6">
                                                <label>Age</label>
                                            </div>
                                            <div class="col-md-6">
                                                <p> {{patient.user.age}}  </p>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-md-6">
                                                <label>User Name</label>
                                            </div>
                                            <div class="col-md-6">
                                                <p *ngIf="patient.user.gender == 1; else elseBlock">male</p>
                                            </div>
                                            <ng-template #elseBlock>
                                                <p>
                                                    female
                                                </p>
                                              </ng-template>
                                        </div>
                                        <div class="row">
                                            <div class="col-md-6">
                                                <label>Email</label>
                                            </div>
                                            <div class="col-md-6">
                                                <p>{{patient.user.mail}}</p>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-md-6">
                                                <label>Phone</label>
                                            </div>
                                            <div class="col-md-6">
                                                <p>{{patient.user.phoneNumber}}</p>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-md-6">
                                                <label>Address</label>
                                            </div>
                                            <div class="col-md-6">
                                                <p>{{patient.user.address}}</p>
                                            </div>
                                        </div>
                            </div>
                            <div class="tab-pane fade" id="profile" role="tabpanel" aria-labelledby="profile-tab">
                                        <div class="row">
                                            <div class="col-md-6">
                                                <label>examole</label>
                                            </div>
                                            <div class="col-md-6">
                                                <p>example</p>
                                            </div>
                                        </div>
                                       
                            </div>
                            
                        </div>
                    </div>
                </div>
            </form>           
        </div>



        

        <!-- Button trigger modal -->

  
  <!-- Modal -->
  <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">Modal title</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
            <form name="form" #form="ngForm" class="text-right" dir="rtl">
                <div class="form-row"> 
                    <div class="form-group col-md-6">
                        <input type="text" class="form-control" placeholder="{{patient.user.firstName}}" name="fName"
                        #fName="ngModel"
                        [(ngModel)]="patient_modified.user.firstName"
                        required 
                        maxlength="20"
                        minlength="3"
                        noWhiteSpaces
                        [ngClass]="{ 'is-invalid': fName.invalid && fName.dirty }">
                    <!--cs validation -->
                        <div *ngIf="fName.invalid" class="invalid-feedback">
                            <span *ngIf="fName.errors?.required && fName.dirty">
                                *</span>
                            <span *ngIf="fName.errors?.minlength && fName.dirty">
                                يجب أن لا يقل الاسم عن 3 أحرف</span>
                            <span *ngIf="fName.errors.hasWhiteSpace && fName.dirty">
                                يجب أن لا يحتوى الاسم على مسافات</span>
                        </div>
                    </div>
                    <div class="form-group col-md-6">
                        <input type="text" class="form-control" placeholder="{{patient.user.lastName}}" name="lName"
                        #lName="ngModel"
                        [(ngModel)]="patient_modified.user.lastName"

                        required 
                        maxlength="20"
                        minlength="3"
                        noWhiteSpaces
                        [ngClass]="{ 'is-invalid': lName.invalid && lName.dirty }">
                    <!--cs validation -->
                        <div *ngIf="lName.invalid" class="invalid-feedback">
                            <span *ngIf="lName.errors?.required && lName.dirty">
                                *</span>
                            <span *ngIf="lName.errors?.minlength && lName.dirty">
                                يجب أن لا يقل الاسم عن 3 أحرف</span>
                            <span *ngIf="lName.errors.hasWhiteSpace && lName.dirty">
                                يجب أن لا يحتوى الاسم على مسافات</span>
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <input type="text" class="form-control" placeholder="{{patient.user.userName}}" name="userName"
                    #userName="ngModel"
                    [(ngModel)]="patient_modified.user.userName"

                    required 
                    maxlength="20"
                    minlength="6"
                    noWhiteSpaces
                    [ngClass]="{ 'is-invalid': userName.invalid && userName.dirty }">
                <!--cs validation -->
                    <div *ngIf="userName.invalid" class="invalid-feedback">
                        <span *ngIf="userName.errors?.required && userName.dirty">
                            *</span>
                        <span *ngIf="userName.errors?.minlength && userName.dirty">
                            يجب أن لا يقل الاسم عن 6 أحرف</span>
                        <span *ngIf="userName.errors.hasWhiteSpace && userName.dirty">
                            يجب أن لا يحتوى الاسم على مسافات</span>
                    </div>
                </div>   
                <div class="form-group">
                    <input type="email" class="form-control" placeholder="{{patient.user.mail}}" name="email"
                    #email="ngModel"
                    [(ngModel)]="patient_modified.user.mail"

                    required 
                    noWhiteSpaces
                    [ngClass]="{ 'is-invalid': email.invalid && email.dirty }">
                <!--cs validation -->
                    <div *ngIf="email.invalid" class="invalid-feedback">
                        <span *ngIf="email.errors?.required && email.dirty">
                            *</span>
                        <span *ngIf="email.errors?.email && email.dirty">
                            ادخل صيغة صحيحة</span>
                        <span *ngIf="email.errors.hasWhiteSpace && email.dirty">
                            يجب أن لا يحتوى الاسم على مسافات</span>
                    </div>
                </div>  
              

                <div class="form-group">
                    <input type="text" class="form-control" placeholder="{{patient.user.address}}" name="address"
                    #address="ngModel"
                    [(ngModel)]="patient_modified.user.address"

                    required 
                    noWhiteSpaces
                    [ngClass]="{ 'is-invalid': address.invalid && address.dirty }">
                <!--cs validation -->
                   
                </div>  
                <div class="form-group">
                    <input type="text" class="form-control" placeholder="{{patient.user.phoneNumber}}" name="phoneNumber"
                    #phoneNumber="ngModel"
                    [(ngModel)]="patient_modified.user.phoneNumber"

                    required 
                    noWhiteSpaces
                    [ngClass]="{ 'is-invalid': phoneNumber.invalid && phoneNumber.dirty }">
                <!--cs validation -->
                   
                </div>  
              
              
 
              


                   
                <div class="form-row">
                    <div class="form-group col-md-4">
                        <label>الجنس</label>
                        <select class="form-control" name="gender" [(ngModel)]="patient_modified.user.gender"
                        >
                            <option  selected disabled>
                                <p *ngIf="patient.user.gender == 1; else elseBlock">ذكر</p>
                            </option>
                                            <ng-template #elseBlock>
                                                <p>
                                                    أنثى
                                                </p>
                                              </ng-template>





                           
                            <option value="1">ذكر</option>
                            <option value="2">أنثى</option>
                        </select>
                    </div>
                    <div class="form-group col-md-4">
                        <label>فصيلة الدم</label>
                        <select class="form-control" name="BloodType"  [(ngModel)]="patient_modified.BloodType"
                        >
                            <option selected disabled>اختر من هنا</option>
                            <option value="28">A+</option>
                            <option value="3">A-</option>
                            <option value="36">O+</option>
                            <option value="1">B-</option>
                        </select>
                    </div>
                    <div class="form-group col-md-4">
                        <label>السن </label>
                        <input type="text" class="form-control" name="age"  [(ngModel)]="patient_modified.user.age" placeholder="{{patient.user.age}}" >
                    </div>
                </div>
      
                <div class="text-center">   
                    <button type="submit" class="btn btn-success" [disabled]="form.invalid" (click)="Update()" > تعديل</button>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                  </div>
            </form>
        
        </div>
       
      </div>
    </div>
  </div>