<table class="table table-hover text-center">
    <thead class="bg-primary text-light">  
      <tr>
        <th scope="col">ID</th>
        <th scope="col">First Name</th>
        <th scope="col">Last Name</th>
        <th scope="col">User Name</th>
        <th scope="col">Operations</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <th scope="row">ID</th>
        <td>firstName</td>
        <td>lastName</td>
        <td>userName</td>
        <td><button class="btn btn-info">Details</button>|
            <button class="btn btn-success">Confirm</button>|  
            <button class="btn btn-danger">Cancel</button> 
        </td>
      </tr>
    </tbody>
  </table>

