<div style="margin-top: 50px;">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

    <div class="container" style="border-radius: 10px; margin-top: 40px;" id="docProfile">
    
        <div class="row text-center" style=" border-radius: 5%;">
            <div class="col-6" style="margin-top: 20px;  margin-bottom: 40px;">
              <span *ngIf="doctor.user.imageName == null ; else otherBlock"> 
                   <img [src]="docImg"
                   style=" border-style: solid; border-width: 5px; border-color: beige; border-radius: 50%; display: inline-block; margin-top: 20px;"
                   height="270" width="220">
                    
                    <div id="hide" class="col-lg-8 col-xs-8">
                        <label class="hand-cursor">
                            <input type="file" id="file" class=""   name="file" (change)="handleFileInput($event.target.files)"  />
                            <span class="fa fa-2x fa-camera"></span>
                         <span class="photo_text hidden-xs" style="color:black;">Upload</span>
                          </label>
                     </div>
                    </span>

                    <ng-template #otherBlock>
                        <img [src]="DoctorImage"
                        style=" border-style: solid; border-width: 5px; border-color: beige; border-radius: 50%; display: inline-block; margin-top: 20px;"
                        height="270px" width="200">
                       

                        <div id="hide" class="col-lg-8 col-xs-8">
                            <label class="hand-cursor">
                                <input type="file" id="file" class=""   name="file" (change)="handleFileInput($event.target.files)"  />
                                <span class="fa fa-2x fa-camera"></span>
                             <span class="photo_text hidden-xs">Edit</span>
                              </label>
                         </div>
                     


                        </ng-template>

                <h1 class=""
                    style="margin-top: 60px; color:aliceblue; font-family:'Times New Roman', Times, serif; margin-left: 20px;">
                    Dr. {{doctor.user.firstName}} {{doctor.user.lastName}} </h1>
              <h2 style="color: black;">{{doctor.speciality.name}}</h2>  
    
            </div>
            <div class="col-6" style="margin-top: 60px; margin-bottom: 50px;">
              
                    <div class="card text-center">
                        <div class="card-header">
                            <h4> Age : {{doctor.user.age}}</h4>
                     
                            <h4> Address : {{doctor.user.address}}</h4>
                            <h4> Phone : {{doctor.user.phoneNumber}}</h4>
                            <h4> E-Mail : {{doctor.user.mail}}</h4>
                            
        
        
                    </div>

                    <!-- *********************** modal************************************************************** -->
                    <button class="btn btn-danger"  data-toggle="modal" data-target="#exampleModalCenter">Update Your Info</button>
                    <!-- Button trigger modal -->




  
  <!-- Modal -->
  <div class="modal fade" id="exampleModalCenter"  tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLongTitle">تعديل البيانات الشخصية</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
            <form name="form" #form="ngForm" class="text-right" dir="rtl">
                <div class="form-row"> 
                    <div class="form-group col-md-6">
                        <label>الإسم الأول </label>
                        <input type="text" class="form-control" placeholder="{{doctor.user.firstName}}" name="fName"
                        #fName="ngModel"
                        [(ngModel)]="doctor_modified.user.firstName"
                        required 
                        maxlength="20"
                        minlength="3"
                        noWhiteSpaces
                        [ngClass]="{ 'is-invalid': fName.invalid && fName.dirty }">
                    <!--cs validation -->
                        <div *ngIf="fName.invalid" class="invalid-feedback">
                            <span *ngIf="fName.errors?.required && fName.dirty">
                                *</span>
                            <span *ngIf="fName.errors?.minlength && fName.dirty">
                                يجب أن لا يقل الاسم عن 3 أحرف</span>
                            <span *ngIf="fName.errors.hasWhiteSpace && fName.dirty">
                                يجب أن لا يحتوى الاسم على مسافات</span>
                        </div>
                    </div>
                    <div class="form-group col-md-6">
                        <label>الإسم الآخير </label>
                        <input type="text" class="form-control" placeholder="{{doctor.user.lastName}}" name="lName"
                        #lName="ngModel"
                        [(ngModel)]="doctor_modified.user.lastName"

                        required 
                        maxlength="20"
                        minlength="3"
                        noWhiteSpaces
                        [ngClass]="{ 'is-invalid': lName.invalid && lName.dirty }">
                    <!--cs validation -->
                        <div *ngIf="lName.invalid" class="invalid-feedback">
                            <span *ngIf="lName.errors?.required && lName.dirty">
                                *</span>
                            <span *ngIf="lName.errors?.minlength && lName.dirty">
                                يجب أن لا يقل الاسم عن 3 أحرف</span>
                            <span *ngIf="lName.errors.hasWhiteSpace && lName.dirty">
                                يجب أن لا يحتوى الاسم على مسافات</span>
                        </div>
                    </div>
                </div>
             <!--   <div class="form-group">
                    <label>التخصص </label>
                    <input type="text" class="form-control" placeholder="{{doctor.speciality.name}}" name="speciality"
                    #speciality="ngModel"
                    [(ngModel)]="doctor_modified.speciality.name"

                    required 
                    maxlength="20"
                    minlength="6"
                    noWhiteSpaces
                    [ngClass]="{ 'is-invalid': speciality.invalid && speciality.dirty }">
                <!--cs validation 
                    <div *ngIf="speciality.invalid" class="invalid-feedback">
                        <span *ngIf="speciality.errors?.required && speciality.dirty">
                            *</span>
                        <span *ngIf="speciality.errors?.minlength && speciality.dirty">
                            يجب أن لا يقل الاسم عن 6 أحرف</span>
                        <span *ngIf="speciality.errors.hasWhiteSpace && speciality.dirty">
                            يجب أن لا يحتوى الاسم على مسافات</span>
                    </div>
                </div> -->   
                
                
                <div class="form-group">
                    <label>البريد الإلكتروني </label>
                    <input type="email" class="form-control" placeholder="{{doctor.user.mail}}" name="email"
                    #email="ngModel"
                    [(ngModel)]="doctor_modified.user.mail"

                    required 
                    noWhiteSpaces
                    [ngClass]="{ 'is-invalid': email.invalid && email.dirty }">
                <!--cs validation -->
                    <div *ngIf="email.invalid" class="invalid-feedback">
                        <span *ngIf="email.errors?.required && email.dirty">
                            *</span>
                        <span *ngIf="email.errors?.email && email.dirty">
                            ادخل صيغة صحيحة</span>
                        <span *ngIf="email.errors.hasWhiteSpace && email.dirty">
                            يجب أن لا يحتوى الاسم على مسافات</span>
                    </div>
                </div>  
              

                
                
                <div class="form-group">
                    <label>رقم التليفون </label>
                    <input type="text" class="form-control" placeholder="{{doctor.user.phoneNumber}}" name="phoneNumber"
                    #phoneNumber="ngModel"
                    [(ngModel)]="doctor_modified.user.phoneNumber"

                    required 
                    noWhiteSpaces
                    [ngClass]="{ 'is-invalid': phoneNumber.invalid && phoneNumber.dirty }">
                <!--cs validation -->
                   
                </div>  
              
              
 
              


                   
                    <div class="form-group col-md-4">
                        <label>السن </label>
                        <input type="text" class="form-control" name="age"  [(ngModel)]="doctor_modified.user.age" placeholder="{{doctor.user.age}}" >
                    </div>
               
      
                <div class="text-center">   
                </div>
                <div class="modal-footer">
                    <button type="submit" class="btn btn-success" [disabled]="form.invalid" (click)="editDoctor()" data-dismiss="modal"> تعديل</button>

                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                
                </div>
            </form>
        
        </div>
       
      </div>
    </div>
  </div>
 </div>
</div>
        
<button style="margin-top: 50px; width: 100%;"  class="btn btn-warning" (click)="navigateToDocDetails(doctor.userId)">Check your Sessions and Details</button>

    </div>
    
</div>

<ul class="nav nav-tabs" style="margin-left: 10%;" id="myTab" role="tablist">
  
    <li class="nav-item">
        <a class="nav-link active" id="coming-tab" data-toggle="tab" href="#comingSessions" role="tab" aria-controls="coming" aria-selected="true"><h3>Coming Sessions</h3></a>
    </li>
    <li class="nav-item">
        <a class="nav-link " id="add-tab" data-toggle="tab" href="#addSessions" role="tab" aria-controls="add" aria-selected="false"><h3>Add Sessions</h3></a>
    </li>
    <li class="nav-item">
        <a class="nav-link " id="booked-tab" data-toggle="tab" href="#bookedSessions" role="tab" aria-controls="booked" aria-selected="false"><h3>Booked Sessions</h3></a>
    </li>
    
</ul>



<div class="container" style="border-radius: 10px; margin-top: 15px;padding: 20px; background-color: rgb(255, 255, 255);">

    
<div style="margin-left: 25%;" class="col-md-12">
    <div class="tab-content add-tab" id="myTabContent">

        <div class="tab-pane fade " id="addSessions" role="tabpanel" aria-labelledby="add-tab">
             
        <div class="col-6" style=" padding: 10px; border: solid black 1px ; background-color:burlywood;">
            <div class="row">
              <div class="col-5 text-center" >
                  <!-- <h3>Days</h3> -->
                  <div class="form-group">
                      <label for="days"><h3>Days</h3> </label>
                      <div *ngFor="let option of days; let i = index">
                          <label>
                              <input type="checkbox"
                                     name="days"
                                     value="{{option}}"
          
                                     (change)="updateCheckedOptions(option, $event)"/>
                              {{option}}
                          </label>
                      </div>
                  </div>
               
                  <br>
              </div>
              <div class="col-5 text-center" >
                  <h3> Duration</h3>
                  <select id="" class="form-control" [value]="sessionDuration" (input)="sessionDuration=$event.target.value">
                     
                      <option value="{{min}}" *ngFor="let min of duration">{{min}}</option>
                  </select>
                 
                  <br>
              </div>
            </div>
      
              
            <hr>
        <div class="row">
              
          <div class="col-6 text-center" >
              <h3>AM Hours</h3>
              <span>if there is no AM work hours,<br> check here &nbsp;&nbsp;</span><input [checked]="AMworkHours" type="checkbox"/><br>
              <label>From <select  id="hoursFrom" class="form-control" [value]="AMhour1" (input)="AMhour1=$event.target.value" >
              
                  <option value="{{hour}}" *ngFor="let hour of AMhours">{{hour}}</option>
              </select></label><br>
              <label>To &nbsp; &nbsp;<select id="hoursTo" class="form-control" [value]="AMhour2" (input)="AMhour2=$event.target.value">
                  
                  <option value="{{hour}}" *ngFor="let hour of AMhours">{{hour}}</option>
              </select></label>
              
              <br>
          </div>
          <div class="col-6 text-center">
              
              <h3> PM Hours</h3>
              <span>if there is no PM work hours,<br> check here &nbsp;&nbsp;</span><input [checked]="PMworkHours" type="checkbox"/><br>
              <label>From <select  id="hoursFrom" class="form-control" [value]="PMhour1" (input)="PMhour1=$event.target.value" >
              
                  <option value="{{hour}}" *ngFor="let hour of PMhours">{{hour}}</option>
              </select></label><br>
              <label>To &nbsp; &nbsp;<select id="hoursTo" class="form-control" [value]="PMhour2" (input)="PMhour2=$event.target.value">
                  
                  <option value="{{hour}}" *ngFor="let hour of PMhours">{{hour}}</option>
              </select></label>
              <br>
          </div>
          

        </div><hr>
          <br>
      
            <div class="col-12"><button style="width: 100%;" class="btn btn-success" (click)="addSessions();"> Add Sessions</button>
      
      
            </div>
      </div>
      
                    
        </div>
        <div class="tab-pane show active" id="comingSessions" role="tabpanel" aria-labelledby="coming-tab">
                   
            <div class="col-6" style=" padding: 10px; border: solid black 1px ; background-color:burlywood;"> 
                <h3>UpComing Sessions</h3>
                <table class="table">
                <thead class="thead-light">
                    <tr>
                    <th scope="col">#</th>
                    <th scope="col">Date</th>
                    <th scope="col">Time</th>
                    <th scope="col">Status</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let session of comingSessions;let i=index">

                    <th scope="row">{{i+1}}</th>
                    <td> {{session.date  | date:'shortDate'}}</td>
                    <td> {{session.startTime | date:'mediumTime'}}</td>

                    <td><button class="btn btn-primary">Join</button></td>
                    </tr>
                
                </tbody>
                </table>
            </div>  
        </div>
        <div class="tab-pane fade" id="bookedSessions" role="tabpanel" aria-labelledby="booked-tab">
                   
            <div class="col-6" style=" padding: 10px; border: solid black 1px ; background-color:burlywood;"> 
                <h3>UpComing Sessions</h3>
                <table class="table">
                <thead class="thead-light">
                    <tr>
                        <th scope="col">#</th>
                        <th scope="col">Date</th>
                        <th scope="col">Time</th>
                        <th scope="col">Status</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let session of comingSessions;let i=index">


                        
                       
                                    <th *ngIf="session.isBooked == 1;" scope="row">{{i+1}}</th>
                                    <td *ngIf="session.isBooked == 1;"> {{session.date  | date:'shortDate'}}</td>

                                    <td *ngIf="session.isBooked == 1;"> {{session.startTime | date:'mediumTime'}}</td>
                                    <!-- if start time is now join else coming soon-->
                                    <td *ngIf="session.isBooked == 1;"><button class="btn btn-primary" (click)="joinMeeting(session.id)">Join</button></td>
                            
                        
                

                       
                    </tr>
                
                </tbody>
                </table>
            </div>  
        </div>
        

        
    </div>
</div>


</div>
