<input type="date" >

    <table  style="width: 70% ; margin: 10px auto;" class="table table-striped table-dark">
        <thead>
            <tr>
              <th scope="col">Date</th>
              <th scope="col">Start Time</th>
              <th scope="col">End Time</th>
              <th scope="col">Poke</th>
            </tr>
          </thead>
          <tbody>
        <tr *ngFor="let time of ScheduleTimes"> 
            <td>
               Date {{time.date  | date:'shortDate'}}
            </td> 
             <td>
                start time {{time.StartTime | date:'mediumTime'}}
            </td>   
            <td>
                end time {{time.EndTime | date:'mediumTime'}}
            </td> 
              
                
              
               

          
           

            
            <td *ngIf="time.IsBooked; else elseBlock">
                <button disabled class="btn btn-danger" >
                    محجوز
                </button>
            </td>
              <ng-template #elseBlock>
                <button disabled class="btn btn-success" >
                    إحجز الآن
                </button>
              </ng-template>
    


        </tr>
          </tbody>
    </table>

  