#cover_photo{
    margin-bottom: 20px;
}

#cover_photo img{
    width: 100%;
    height: 400px;
}

#card_wrapper{
    padding: 20px;
}

.card:hover{
    opacity: .8;
    cursor: pointer;
    border: 3px white solid;
}

#speciality_card img{
    height: 200px;
}

#carouselExampleIndicators img{   
    width: 100%;
    height:500px;   
}

div.carousel-caption{   
    color: rgb(2, 7, 78);
    text-shadow: 2px 2px 0 #FFFFFF, 2px -2px 0 #FFFFFF, -2px 2px 0 #FFFFFF, -2px -2px 0 #FFFFFF, 2px 0px 0 #FFFFFF, 0px 2px 0 #FFFFFF, -2px 0px 0 #FFFFFF, 0px -2px 0 #FFFFFF;
}

.card{
    background-color: rgb(2, 7, 78);
    border:3px solid rgb(2, 7, 78);
    border-radius: 5px;
}
