#cover_photo{
    margin-bottom: 20px;
}

#cover_photo img{
    width: 100%;
    height: 400px;
}

#card_wrapper{
    padding: 20px;
}

#speciality_card:hover{
    opacity: .8;
    cursor: pointer;
    border: 1px white solid;
}

#speciality_card img{
    height: 200px;
}
