<div class="container" style="margin-top: 50px;">
  
  <div class="row">
    <div *ngFor="let doctor of doctors" class="col-12 col-sm-6 col-md-4 col-lg-3" id="card_wrapper" (click)="navigateToDocDetails(doctor.userId)">
      <div class="card bg-light text-center" id="speciality_card" >
        <img class="card-img-top" style="margin-top:10px" src="assets/images/doctors/{{doctor.userId}}.jpg" alt="{{doctor.user.firstName}">
        <div class="card-body">        
          <h4 class="card-text text-center">{{doctor.title}} {{doctor.user.firstName}} {{doctor.user.lastName}}</h4>

          <h5 class="card-title text-center" style="color: blue;">{{doctor.speciality.name}}</h5>   
          <p class="card-text text-center">EGP تمن الجلسة : {{doctor.fees}}</p>
          <button class="btn btn-primary" >احجز جلسة</button> 
        </div>
      </div>
    </div>

  </div>

</div>
