  <div class="container">
  
    <div class="row">
      <div *ngFor="let doctor of doctors" class="col-12 col-sm-6 col-md-4 col-lg-3" id="card_wrapper" (click)="navigateToDocDetails(doctor.userId)">
        <div class="card bg-light text-center" id="speciality_card" >
          <img class="card-img-top" src="assets/images/doctors/profile-pic.png" alt="{{doctor.name}}">
          <div class="card-body">        
            <h5 class="card-title text-center">اخصائى متخصص</h5>   
            <p class="card-text text-center">{{doctor.title}}</p>
            <p class="card-text text-center">EGP تمن الجلسة : {{doctor.fees}}</p>
            <button class="btn btn-primary" (click)="navigateToSchedule()">احجز جلسة</button> 
          </div>
        </div>
      </div>
  
    </div>
  
  </div>
