


<h1>asd</h1>
<input type="date" [(ngModel)]="choocedDate" (change)="GetDoctorScheduleTimes(1 ,choocedDate)" />
<h1>enter date is {{choocedDate}}</h1>

    <table  style="width: 70% ; margin: 10px auto;" class="table table-striped table-dark">
        <thead>
            <tr>
              <th scope="col">Date</th>
              <th scope="col">Start Time</th>
              <th scope="col">End Time</th>
              <th scope="col">Poke</th>
            </tr>
          </thead>
          <tbody>
        <tr *ngFor="let time of DoctorSchedule"> 
            <td>
                {{time.date  | date:'shortDate'}}
            </td> 
             <td>
                 {{time.startTime | date:'mediumTime'}}
            </td>   
            <td>
                 {{time.endTime | date:'mediumTime'}}
            </td> 
              
                
            <td *ngIf="time.isBooked == 0; else elseBlock">
                <button disabled class="btn btn-danger" >
                    محجوز
                </button>

               
            </td>
            <ng-template #elseBlock>
              <button  class="btn btn-success" >
                  إحجز الآن
              </button>
            </ng-template>
    


        </tr>
          </tbody>
    </table>






  