  <div class="container">
  
    <div class="row">
      <div *ngFor="let doctor of doctors" class="col-12 col-sm-6 col-md-4 col-lg-3" id="card_wrapper" >
        <div class="card bg-light" id="speciality_card">
          <img class="card-img-top" src="assets/images/doctors/profile-pic.png" alt="{{doctor.name}}">
          <div class="card-body">
            <h5 class="card-title text-center">{{doctor.name}}</h5>
            <p class="card-text text-center">اخصائى فشيخ جدا</p>
            <p class="card-text text-center">EGP تمن الجلسة : {{doctor.fees}}</p>
            <a href="#" class="btn btn-primary mx-auto">احجز جلسة</a> 
          </div>
        </div>
      </div>
  
    </div>
  
  </div>
