<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

<div class="container">
    
    <div class="row">
        <div class="col-6">
            <img  [src]="docImg" style="border-radius: 50%;" height="100%" width="180" > 
        </div>
        <div class="col-6">
            <h1>{{doctor.name}}</h1>
            <h2>{{doctor.speciality}}</h2>
            <h2>{{doctor.address}}</h2>
            <h2>{{doctor.phoneNumber}}</h2>

            <div *ngIf="doctor.rating>0" >
                <span class="fa fa-star checked"></span>
                <span class="fa fa-star checked" *ngIf="doctor.rating>1" ></span>
                <span class="fa fa-star checked" *ngIf="doctor.rating>2" ></span>
                <span class="fa fa-star checked" *ngIf="doctor.rating>3" ></span>
                <span class="fa fa-star checked" *ngIf="doctor.rating>4" ></span>
            </div>
        </div>
    </div>
</div>