#cover_photo{
    margin-bottom: 20px;
    background-image: url('../../assets/images/common/cover2.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    height: 700px;
    text-align: center;

}
#cover_photo>button
{
    display: block;
    margin: 25px auto;
    margin-top: 200px;
    text-align: center;
    height: 70px;
    width: 270px;
    border-radius: 20px;
}
#caption{

    width:40%;
    position: relative;
    margin: 50px auto ;
    
    display: inline-block;
    color: white;


background-color: rgba(52, 177, 154, 0.6);
border-radius: 20px;


}
#caption>p{

    font-size: 25px;
}


a:hover{
    text-decoration: none;
}
a img:hover{
    opacity: .8;
}
