#cover_photo{
    margin-bottom: 20px;
    background-image: url('../../assets/images/common/cover2.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    height: 650px;
    text-align: center;

}
#cover_photo>button
{
    display: block;
    margin: 25px auto;
    text-align: center;
    height: 70px;
    width: 270px;
    border-radius: 20px;
}
#caption{

    height: 200px;
    width: 500px;
    position: relative;
    margin: 150px ;
    display: inline-block;
    color: white;


background-color: rgba(9, 34, 87, 0.7);
border-radius: 20px;


}
#caption>p{

    font-size: 25px;
}


a:hover{
    text-decoration: none;
}
a img:hover{
    opacity: .8;
}
