<div id="cover_photo">
 
  <div id="caption">
      <h1>TreatMe/عالجني</h1>
      <p>تحدث مع طبيبك اونلاين من كل التخصصات</p>
      <p>بكل خصوصية في آي وقت ومن كل مكان</p>
      
  </div>
  <button class="btn btn-success">تعرف علي المعالج الخاص بك</button>


</div>
<div class="container">

  <div class="row">

    <div *ngFor="let speciality of specialities" class="card  col-12 col-md-4">
      <a routerLink="/doctor/specialities">
        <img class="card-img-top" src="assets/images/specialities/{{speciality}}.jpg" alt="Card image cap">
        <div class="card-body">
          <h5 class="card-title text-center">{{speciality}}</h5>
        </div>
      </a>
    </div>

  </div>

</div>