<div>
    <div class="col-12 col-md-7 float-left" id="leftDiv"><!-- image -->
        <img src="assets/images/doctors/patient-register.jpg" alt="loading">
    </div>
    <div class="col-12 col-md-5 float-right p-4" id="rightDiv"><!-- form -->
        <h3 class="text-center mb-3">حساب جديد</h3>
        <form name="form" #form="ngForm" class="text-right" dir="rtl" (ngSubmit)="onSubmit()">
            <div class="form-row"> 
                <div class="form-group col-md-6">
                    <input type="text" class="form-control" placeholder="الاسم الاول" name="fName"
                    #fName="ngModel"
                    [(ngModel)]="patient.user.firstName"
                    required 
                    maxlength="20"
                    minlength="3"
                    noStartOrDoubleSpaces
                    [ngClass]="{ 'is-invalid': fName.invalid && fName.dirty }">
                <!--cs validation -->
                    <div *ngIf="fName.invalid" class="invalid-feedback">
                        <span *ngIf="fName.errors?.required && fName.dirty">
                            *</span>
                        <span *ngIf="fName.errors?.minlength && fName.dirty">
                            يجب أن لا يقل الاسم عن 3 أحرف</span>
                        <span *ngIf="fName.errors?.startsWithSpace && fName.dirty">
                                يجب أن لا يبدأ الاسم بمسافة </span>
                        <span *ngIf="fName.errors?.hasDoubleSpace && fName.dirty">
                                    يجب أن لا يحتوى الاسم على مسافتين متتاليتين </span>
                    </div>
                </div>
                <div class="form-group col-md-6">
                    <input type="text" class="form-control" placeholder="الاسم الاخير" name="lName"
                    #lName="ngModel"
                    [(ngModel)]="patient.user.lastName"
                    required 
                    maxlength="20"
                    minlength="3"
                    noStartOrDoubleSpaces
                    [ngClass]="{ 'is-invalid': lName.invalid && lName.dirty }">
                <!--cs validation -->
                    <div *ngIf="lName.invalid" class="invalid-feedback">
                        <span *ngIf="lName.errors?.required && lName.dirty">
                            *</span>
                        <span *ngIf="lName.errors?.minlength && lName.dirty">
                            يجب أن لا يقل الاسم عن 3 أحرف</span>
                        <span *ngIf="lName.errors.hasWhiteSpace && lName.dirty">
                            يجب أن لا يحتوى الاسم على مسافات</span>
                        <span *ngIf="lName.errors?.startsWithSpace && lName.dirty">
                                يجب أن لا يبدأ الاسم بمسافة </span>
                        <span *ngIf="lName.errors?.hasDoubleSpace && lName.dirty">
                                    يجب أن لا يحتوى الاسم على مسافتين متتاليتين </span>
                    </div>
                </div>  
            </div>
            <div class="form-group">
                <input type="text" class="form-control" placeholder="اسم المستخدم" name="userName"
                #userName="ngModel"
                [(ngModel)]="patient.user.userName"
                required 
                maxlength="20"
                minlength="6"
                noWhiteSpaces
                [ngClass]="{ 'is-invalid': userName.invalid && userName.dirty }">
            <!--cs validation -->
                <div *ngIf="userName.invalid" class="invalid-feedback">
                    <span *ngIf="userName.errors?.required && userName.dirty">
                        *</span>
                    <span *ngIf="userName.errors?.minlength && userName.dirty">
                        يجب أن لا يقل الاسم عن 6 أحرف</span>
                    <span *ngIf="userName.errors.hasWhiteSpace && userName.dirty">
                        يجب أن لا يحتوى الاسم على مسافات</span>
                </div>
            </div>   
            <div class="form-group">
                <input type="email" class="form-control" placeholder="عنوان البريد الالكترونى" name="email"
                #email="ngModel"
                [(ngModel)]="patient.user.mail"
                required 
                noWhiteSpaces
                [ngClass]="{ 'is-invalid': email.invalid && email.dirty }">
            <!--cs validation -->
                <div *ngIf="email.invalid" class="invalid-feedback">
                    <span *ngIf="email.errors?.required && email.dirty">
                        *</span>
                    <span *ngIf="email.errors?.email && email.dirty">
                        ادخل صيغة صحيحة</span>
                    <span *ngIf="email.errors.hasWhiteSpace && email.dirty">
                        يجب أن لا يحتوى الاسم على مسافات</span>
                </div>
            </div>  
            <div class="form-row"  ngModelGroup="passwordGroup"  #passwordGroup="ngModelGroup" [ngClass]="{ 'is-invalid': confirmPassword.invalid && confirmPassword.dirty }">
  
                    <div class="form-group col-md-6">
                        <input type="password" class="form-control" placeholder="كلمة المرور" name="password"
                        #password="ngModel"
                        [(ngModel)]="patient.user.password"  
                        required 
                        maxlength="30"
                        minlength="6"
                        noWhiteSpaces
                        [ngClass]="{ 'is-invalid': password.invalid && password.dirty }"
                        (input)="confirmPassword.control.updateValueAndValidity()">  
                    <!--cs validation -->
                        <div *ngIf="password.invalid" class="invalid-feedback">
                            <span *ngIf="password.errors?.required && password.dirty">
                                *</span>
                            <span *ngIf="password.errors?.minlength && password.dirty">
                                يجب أن لا تقل كلمة المرور عن 6 أحرف</span>
                            <span *ngIf="password.errors?.hasWhiteSpace && password.dirty">
                                يجب أن لا تحتوى كلمة المرور على مسافات</span>
                        </div>
                    </div>
                    <div class="form-group col-md-6">
                        <input type="password" class="form-control" placeholder="تأكيد كلمة المرور"
                        name="confirmPassword"
                        #confirmPassword="ngModel"
                        ngModel
                        required 
                        maxlength="30"
                        minlength="6"  
                        noWhiteSpaces
                        ConfirmEqualValidator="password"
                        [ngClass]="{ 'is-invalid': confirmPassword.invalid && confirmPassword.dirty }">
                                        <!--cs validation -->
                        <div *ngIf="confirmPassword.invalid" class="invalid-feedback">
                            <span *ngIf="confirmPassword.errors?.required && confirmPassword.dirty">
                            *</span>
                            <span *ngIf="confirmPassword.errors?.notEqual && confirmPassword.dirty">
                            كلمتان المرور غير متطابقتان</span>
                        <span *ngIf="confirmPassword.errors?.hasWhiteSpace && confirmPassword.dirty">
                                يجب أن لا تحتوى كلمة المرور على مسافات</span>
                        </div>
                    </div>
            </div>

            <div class="form-row">
                <div class="form-group col-md-6">
                    <input type="text" class="form-control" placeholder="العنوان" name="address"
                    #address="ngModel"
                    [(ngModel)]="patient.user.address"
                    >
                </div>
                <div class="form-group col-md-6">
                    <input type="text" class="form-control" placeholder="رقم الموبايل" name="phone"
                    #phone="ngModel"
                    [(ngModel)]="patient.user.phoneNumber">  
                </div>
            </div>
            <div class="form-row">
                <div class="form-group col-md-4">
                    <label>الجنس</label>
                    <select class="form-control" name="gender" #gender="ngModel" [(ngModel)]="patient.user.gender">
                        <option selected disabled>اختر من هنا</option>
                        <option value=1 >ذكر</option>
                        <option value=2>أنثى</option>
                    </select>
                </div>
                <div class="form-group col-md-4">
                    <label>فصيلة الدم</label>
                    <select class="form-control" name="bloodType" #bloodType="ngModel" [(ngModel)]="patient.bloodType">
                        <option selected disabled>اختر من هنا</option>
                        <option value=4>O-</option>
                        <option value=36>O+</option>
                        <option value=3>A-</option>
                        <option value=28>A+</option>
                        <option value=1>B-</option>
                        <option value=20>B+</option>
                        <option value=1>AB-</option>  
                        <option value=5>AB+</option>
                    </select>
                </div>
                <div class="form-group col-md-4">
                    <label>العمر</label>
                    <input type="number" class="form-control" min="1" max="110" name="age" 
                    #age="ngModel"
                    [(ngModel)]="patient.user.age">
                </div>
            </div>
            <form>
                <div class="form-group">
                  <label for="exampleFormControlFile1">ارفع التاريخ المرضى </label>
                  <input type="file" class="form-control-file" id="exampleFormControlFile1"
                  name="medicalHistory" ngModel #medicalHistory="ngModel">
                </div>
              </form>

            <div class="form-check">
                <input type="checkbox" class="form-check-input" id="exampleCheck1" 
                name="terms" 
                #terms="ngModel"  
                ngModel
                required>
                <label class="form-check-label mr-3 mb-3" for="exampleCheck1">موافق على الشروط و الأحكام</label>
            </div>
            <div class="text-center">   
                <button type="submit" class="btn btn-success" [disabled]="form.invalid || form.submitted">حساب جديد</button>
            </div>
        </form>
    </div>
</div>
